# Ignore everything by default
*

# Allow Git to descend into subdirectories
!*/

# Allow these files anywhere
!.gitignore
!README*
!**/*.R
!**/*.sh
!**/*.png
!**/*.pdf
!Ovary_signatures/5_MRA/modulators_all_tf_tfc_mirna.txt
